.App {
  text-align:start;
  justify-content: center;
  align-items: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  padding: 2vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(8px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
strong{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.2em;
}
p {
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
